<!DOCTYPE html>
<!-- test -->
<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>EventList - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/eventlist.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

              <div class="eventlist">

                  <div class="text-center event-title"><i class="fa fa-info-circle" aria-hidden="true"></i> イベント一覧</div>
                  <%- include('./field.ejs') %>

                  <!-- イベントがある場合 -->
                  <%if(notFound!=null){ %>
                    <!-- 開催中イベントの表示 -->
                    <% for(var cnt=0; cnt<inSessionEventList.length; cnt++) { %>
                          <%if(cnt==0){%>
                            <div class="clear"></div>
                            <div class="text-center held-situation">- 開催中イベント -</div>
                          <%}%>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-form">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <%if(inSessionEventList[cnt].Image=="public/images/noimage.png"){%>
                              <a href="/eventtop?eventid=<%=inSessionEventList[cnt].Eventid%>"><img src="../public/images/noimage.png" class="event-img"></a><br>
                            <%}else{%>
                              <%var images="../"+inSessionEventList[cnt].Image;%>
                              <a href="/eventtop?eventid=<%=inSessionEventList[cnt].Eventid%>"><img src="<%=images%>" class="event-img"></a><br>
                            <%}%>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                              <div class="list-contents">
                                イベント名 : <a href="/eventtop?eventid=<%=inSessionEventList[cnt].Eventid%>"><%= inSessionEventList[cnt].Eventname %></a><br>
                                対象分野 : <%=inSessionfieldlist[cnt]%><br>
                                <%console.log(inSessionfieldlist[cnt]);%>
                                <%
                                    var eventdate = new Date( inSessionEventList[cnt].Holdstart);
                                    var weekDayList = [ "日", "月", "火", "水", "木", "金", "土" ] ;
                                    var week = "(" + weekDayList[ eventdate.getDay() ] + ")";
                                %>
                                開始日時 : <%= inSessionEventList[cnt].Holdperiod.Holdstart %><br>
                                終了日時 : <%= inSessionEventList[cnt].Holdperiod.Holdfinish %><br>
                                会場 : <%= inSessionEventList[cnt].Venue %><br>
                                <div class="visible-md visible-lg">
                                  概要 : <%= inSessionEventList[cnt].Overview %><br>
                                </div>
                              </div>
                            </div>
                          </div>
                    <%}%>

                    <!-- 終了イベントの表示 -->
                    <% for(var cnt=0; cnt<closedEventList.length; cnt++) { %>
                          <%if(cnt==0){%>
                            <div class="clear"> </div>
                            <div class="text-center held-situation1">- 終了イベント -</div>
                          <%}%>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-form">
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                              <%if(closedEventList[cnt].Image=="public/images/noimage.png"){%>
                                <a href="/eventtop?eventid=<%=closedEventList[cnt].Eventid%>"><img src="../public/images/noimage.png" class="event-img"></a><br>
                              <%}else{%>
                                <%var images="../"+closedEventList[cnt].Image;%>
                                <a href="/eventtop?eventid=<%=closedEventList[cnt].Eventid%>"><img src="<%=images%>" class="event-img"></a><br>
                              <%}%>
                            </div>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                              <div class="list-contents">
 				                        イベント名 : <a href="/eventtop?eventid=<%=closedEventList[cnt].Eventid%>"><%= closedEventList[cnt].Eventname %></a><br>
                                対象分野 : <%=closedfieldlist[cnt]%><br>
                                <%
                                var eventdate = new Date( closedEventList[cnt].Date);
                                var weekDayList = [ "日", "月", "火", "水", "木", "金", "土" ] ;
                                var week = "(" + weekDayList[ eventdate.getDay() ] + ")";
                                %>
                                開始日時 : <%= closedEventList[cnt].Holdperiod.Holdstart %> <br>
                                終了日時 : <%= closedEventList[cnt].Holdperiod.Holdfinish %><br>
                                <!-- 日時 : <%= closedEventList[cnt].Date %> <%=week%> ~ <br> -->
                                会場 : <%= closedEventList[cnt].Venue %><br>
                                <div class="visible-md visible-lg">
                                  概要 : <%= closedEventList[cnt].Overview %><br>
                                </div>
                              </div>
                            </div>
                          </div>
                    <% } %>
                    <!-- test -->
                  <!-- イベントがない場合 -->
                  <% } else { %>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noevent-form">
                      <div class="text-left"> 現在、イベントはありません。</div>
                      </div>
                  <% } %>

              </div>

            </div><!-- col -->

        </div><!-- row -->
        <div class="footer-bihind">&nbsp</div>
    </div><!-- contai
      to
      -[]::ner -->
</section>

<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Menu Open & Close -->
<script src="../public/js/menu.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>

</body>
</html>
