<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>Fieldsetting - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Toggle -->
    <link href="../public/css/bootstrap-toggle.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/fieldsetting.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>
<!-- 確認画面 -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="field">
                    <div class="panel panel-list panel-primary">
                        <div class="panel-heading">
                            <div class="filedsetting-title">部門設定</div>
                        </div>

                    <!-- チーム部門確認 -->
                    <div class="panel-group" id="accordion">
                        <div class="according-width">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title accordion-toggle">
                                <a data-toggle="collapse" data-parent="#accordion" href="#fieldConfirmation" class="collapsed">参加部門チーム確認</a>
                              </h4>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div id="fieldConfirmation" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
                              <div class="field-form">

                                <% var teams = JSON.stringify(teamdata); %>
                                <div class="form-group">
                                  <select class="form-control input-lg team-select" name="field" onchange="show_field(this , <%=teams%>)">
                                    <% for(var i = 0 ; i < votedata.length; i++) { %>
                                      <option value="<%=i%>"><%=votedata[i].Votename%></option>
                                      <% } %>
                                  </select>
                                </div>

                                <div id="teamnum" class="filedsetting-font text-right">参加チーム数 : <%=teamdata[0].length%></div>

                                <div id="teamname">
                                    <%for(var i=0;i<teamdata[0].length;i++){%>
                                    <div class="team-line text-left"><%=teamdata[0][i].Teamname%>  -  <%=teamdata[0][i].Workname%></div>
                                    <%}%>
                                </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- チーム部門選択 -->
                    <div class="panel-group" id="accordion">
                        <div class="according-width">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title accordion-toggle">
                                <a data-toggle="collapse" data-parent="#accordion" href="#fieldsetting" class="collapsed">参加部門チーム編集</a>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="fieldsetting" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form method="POST" action="/eventcontrol/fieldsetting?eventid=<%=eventid%>">
                                <input type="hidden" name="eventid" value="<%=eventid%>">
                              <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">

                                  <div class="field-form">

                                    <div class="form-group">

                                      <%
                                        var votes = JSON.stringify(votedata);
                                        var allteams = JSON.stringify(allteam);
                                      %>

                                      <select class="form-control input-lg team-select" name="teamid" onchange="change_field(this , <%=votes%>,<%=allteams%>)">
                                        <% for(var i = 0 ; i < allteam.length ; i++) { %>
                                          <option value="<%=allteam[i].Teamid %>"><%= allteam[i].Teamname %></option>
                                          <% } %>
                                      </select>

                                    </div>
                                    <div id="field-area">
                                        <% for( var i = 0 ; i < votedata.length ; i++) { %>
                                          <div class="panel-forms">
                                                  <div class="panel-fonts">
                                                    <div class="text-left"><%=votedata[i].Votename%></div>
                                                  <input value="<%=votedata[i].Voteid%>" data-toggle="toggle" data-size="normal" type="checkbox" id="field<%=i %>" name="voteid"
                                                         <%if(allteam[0].Department.indexOf(votedata[i].Voteid)>=0){%>
                                                         checked
                                                          <%}%>
                                                  ><br>
                                                </div>
                                          </div>
                                        <% } %>
                                     </div>
                                    <input type="submit" class="btn btn-success btn-size text-right" value="登録">
                                  </div>
                                </div>
                              </div>
                          </form>
                      </div><!-- panel-body -->

                  <!-- </div> -->

              </div>

                  </div><!--panel-list -->

                </div><!-- field -->

            </div><!-- col -->



        </div><!-- row -->
        <div class="footer-bihind"> </div>
    </div><!-- container -->
</section>

<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Toggle -->
<script src="../public/js/bootstrap-toggle.js"></script>

<!-- Change -->
<script src="../public/js/change.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>

</body>
</html>
