<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>Fieldsetting - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Toggle -->
    <link href="../public/css/bootstrap-toggle.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/fieldsetting.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>

<!-- 確認画面 -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

                <div class="field">

                    <div class="text-center">部門設定</div><br>
                    <form method="POST" action="/eventcontrol/fieldsetting">

                        <div class="form-group">
                            <select class="form-control input-lg team-select" name="field" onchange="change_field(this)">
                                <% for(var i = 1 ; i < 6; i++) { %>
                                    <option value="<%=i%>">チーム<%=i%></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="field-form">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
                                    <% for( var i = 1 ; i < 4 ; i++) { %>
                                            部門<%= i %><br>
                                    <% } %>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                                    <% for( var i = 1 ; i < 4 ; i++) { %>
                                        <input checked data-toggle="toggle" data-size="small" type="checkbox"><br>
                                    <% } %>

                                </div>
                            </div>
                        </div>

                    </form>

                </div><!-- field -->

            </div><!-- col -->



        </div><!-- row -->
    </div><!-- container -->
</section>

<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Toggle -->
<script src="../public/js/bootstrap-toggle.js"></script>

<!-- Change -->
<script src="../public/js/change.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>

</body>
</html>