<a id="tag-btn" class="btn btn-success">タグ検索</a>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="tag-target">
        <!-- 分野格納 -->
        <%
            var field = new Array("IT分野","ゲームソフト分野","ハード分野","ビジネス分野","グラフィックス分野","サウンド分野","CAD分野");
            var itcourse = new Array("ソフトⅠ","ソフトⅡ","ソフトⅢ","ソフトⅣ");
            var gamecourse = new Array("ゲームⅠ","ゲームⅡ","ゲームⅢ");
            var hardcourse = new Array("ハードⅠ","ハードⅡ");
            var businesscourse = new Array("ビジネスⅠ","ビジネスⅡ");
            var graphiccourse = new Array("3DCGⅠ","3DCGⅡ","アニメⅠ","アニメⅡ","グラフィックⅠ","グラフィックⅡ");
            var soundcourse = new Array("クリエイトⅠ","クリエイトⅡ","テクニックⅠ","テクニックⅡ","声優Ⅰ", "声優Ⅱ");
            var cadcourse = new Array("インテリアⅠ","インテリアⅡ","インダストリアルⅠ","インダストリアルⅡ");
        %>

        <% for(var i = 0 ; i < field.length; i++) { %>
            <%= field[i]%><br>

            <% if( i == 0) { %>
                <% for(var a = 0 ; a < itcourse.length; a++) { %>
                    <a href="/eventlist?course=soft<%=a + 1%>"><%= itcourse[a]%></a>
                <% } %>
                <br>
            <% } %>
            <% if( i == 1) { %>
                <% for(var b = 0 ; b < gamecourse.length; b++) { %>
                    <a href="/eventlist?course=game<%=b + 1%>"><%= gamecourse[b]%></a>
                <% } %>
                <br>
            <% } %>
            <% if( i == 2) { %>
                <% for(var c = 0 ; c < hardcourse.length; c++) { %>
                    <a href="/eventlist?course=hard<%=c + 1%>"><%= hardcourse[c]%></a>
                <% } %>
                <br>
            <% } %>
            <% if( i == 3) { %>
                <% for(var d = 0 ; d < businesscourse.length; d++) { %>
                    <a href="/eventlist?course=business<%=d + 1%>"><%= businesscourse[d]%></a>
                <% } %>
                <br>
            <% } %>
            <% if( i == 4) { %>
                <% for(var e = 0 ; e < graphiccourse.length; e++) { %>
                    <a href="/eventlist?course=graphic<%=e + 1%>"><%= graphiccourse[e]%></a>
                <% } %>
                <br>
            <% } %>
            <% if( i == 5) { %>
                <% for(var f = 0 ; f < soundcourse.length; f++) { %>
                    <a href="/eventlist?course=sound<%=f + 1%>"><%= soundcourse[f]%></a>
                <% } %>
                <br>
            <% } %>
            <% if( i == 6) { %>
                <% for(var g = 0 ; g < cadcourse.length; g++) { %>
                    <a href="/eventlist?course=cad<%=g + 1%>"><%= cadcourse[g]%></a>
                <% } %>
                <br>
            <% } %>

        <% } %>

    </div>
</div>