<!DOCTYPE html>
<!-- test -->
<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>EventList - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/eventlist.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

              <div class="eventlist">

                  <div class="text-center event-title"><i class="fa fa-info-circle" aria-hidden="true"></i> イベント一覧</div>

                  <%- include('./field.ejs') %>
                  <!-- イベントがある場合 -->
                  <%if(eventlist!=null){%>
                    <% for(var cnt=0; cnt<eventlist.length; cnt++) { %>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-form">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <a href="/eventtop"><img src="../public/images/noimage.png" class="event-img"></a><br>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                          <div class="list-contents">
                            イベント名 : <a href="/eventtop"><%= eventlist[cnt].Eventname %></a><br>
                            日時 : <%= eventlist[cnt].Date %> ~ <br>
                            会場 : <%= eventlist[cnt].Address %><br>
                            <div class="visible-md visible-lg">
                              概要 : <%= eventlist[cnt].Overview %><br>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                  <!-- イベントがない場合 -->
                  <% } else { %>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noevent-form">
                      <div class="text-left"> 現在、イベントはありません。</div>
                      </div>
                  <% } %>


              </div>

            </div><!-- col -->

        </div><!-- row -->
    </div><!-- contai
      to
      -[]::ner -->
</section>

<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Menu Open & Close -->
<script src="../public/js/menu.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>

</body>
</html>
