<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>Index - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- PNotify CSS -->
    <link href="../public/css/pnotify.custom.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/index.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

                <div class="index">
                    <div class="index-title"><i class="fa fa-home" aria-hidden="true"></i> <%= user.displayName %>さんのホーム</div>

                        <!-- Event List -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="event-list">
                                <div class="panel panel-list panel-primary">
                                    <div class="panel-heading">現在開催中のイベント</div>

                                        <ul class="list-group">
                                           <!-- イベントがある場合 -->
                                           <% if(notFound != null) { %>
                                                <% for(var i = 0; i < inSessionEventList.length; i++){ %>

                                                    <li class="list-group-item">
                                                       <div class="row">
                                                           <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                               <%if(inSessionEventList[i].Image=="public/images/noimage.png"){%>
                                                               <a href="/eventtop?eventid=<%=inSessionEventList[i].Eventid%>"><img src="../public/images/noimage.png" class="event-img"></a><br>
                                                               <%}else{%>
                                                               <%var images="../"+inSessionEventList[i].Image;%>
                                                               <a href="/eventtop?eventid=<%=inSessionEventList[i].Eventid%>"><img src="<%=images%>" class="event-img"></a><br>
                                                               <%}%>
                                                           </div>
                                                           <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                               <div class="event-contents">
                                                                   - イベント名 - <a href="/eventtop?eventid=<%=inSessionEventList[i].Eventid%>"><br><%=inSessionEventList[i].Eventname%></a><br>
                                                                   - &nbsp;&nbsp;対象分野&nbsp;&nbsp; - <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=fieldlist[i]%>
                                                               </div>
                                                           </div>
                                                       </div>
                                                    </li>

                                                <% }%>
                                           <% } else{ %>
                                                <li>現在、イベントはありません。</li>
                                           <% } %>
                                        </ul>

                                </div><!-- panel -->
                            </div>
                        </div>

                        <!-- Event & Twitter -->
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                            <div class="panel panel-events panel-primary">
                                <div class="panel-heading">参加イベント一覧</div>

                                <div class="panel-body">
                                    <ul id="event-menu">
                                        <li><a href="#">合評会</a>
                                            <ul>
                                                <li><a href="#">アナログ撲滅委員会</a></li>
                                                <li><a href="#">参加グループ2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">テストイベント2</a>
                                            <ul>
                                                <li><a href="#">参加グループ</a></li>
                                                <li><a href="#">参加グループ2</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">テストイベント3</a>
                                            <ul>
                                                <li><a href="#">参加グループ</a></li>
                                                <li><a href="#">参加グループ2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div><!-- panel -->

                            <div class="twitter-contents">
                                <a class="twitter-timeline" data-width="600" data-height="400" href="https://twitter.com/Aec_Vars">Tweets by Aec_Vars</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>

                        </div>

                </div><!-- Index -->
                </div>

            </div><!-- col -->

        </div><!-- row -->
    </div><!-- container -->
</section>

<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- PNotify JavaScript -->
<script src="../public/js/pnotify.custom.min.js"></script>

<!-- Menu Open & Close -->
<script src="../public/js/menu.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>

</body>
</html>
