<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>Teamtop - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/teamtop.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

              <div class="teamtop">

                  <div class="text-left contents-title"><i class="fa fa-asterisk" aria-hidden="true"></i> チームトップ</div>

                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                      <img src="../<%=teamdata[0].Image%>" class="team-img"><br>
                      <a href="" class="btn btn-success admin-btn">チーム管理</a>
                  </div>
                  <!-- smartphone pdf -->
                 <!-- <div class="col-xs-12 col-sm-12 visible-xs visible-sm"> -->
                     <!-- <div class="text-center"> -->
                       <!-- <a href="../upfile/test.pdf" target="blank" class="btn pic-btn btn-primary">チラシはこちら</a> -->
                   <!-- </div> -->
                   <!-- <div class="ifrm-container"> -->
                     <!-- <iframe class="ifrm" scrolling="auto" src="../upfile/test.pdf#page=1&zoom=50"></iframe> -->
                    <!-- </div> -->
                 <!-- </div> -->


                  <!-- チーム情報 -->
                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="team-contents">
                      <ul class="list-unstyled">
                        <li>チーム名 : <%=teamdata[0].Teamname%></li>
                        <li>作&nbsp;品&nbsp;名&nbsp;&nbsp; : &nbsp;<%=teamdata[0].Workname%></li>
                        <li>代&nbsp;表&nbsp;者&nbsp;&nbsp; : <%=teamdata[0].displayName%></li>
                      </ul>
                    </div>
                  </div>

                <!-- チーム概要 -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="team-form">
                    チーム概要 :<br>
                    <%=teamdata[0].Overview%>
                  </div>
                </div>

                <!-- pc pdf -->
                <div class="col-md-6 col-lg-6 visible-md visible-lg left">
                  <% var work=teamdata[0].Works;
                  if(work == ''){%>
                    <img src="../public/images/noimage.png#page=1&zoom=50">
                  <%}else{%>
                  <iframe width="95%" height="700" src="../<%=teamdata[0].Works%>#page=1&zoom=50"></iframe>
                  <%}%>
                </div>

                <!-- smartphone pdf -->
               <div class="col-xs-12 col-sm-12 visible-xs visible-sm">
                   <div class="text-center">
                     <% var work=teamdata[0].Works;
                     if(work == ''){%>
                     <a href="../public/images/noimage.png" target="_blank" class="btn pic-btn btn-primary">
                     <%}else{%>
                     <a href="../<%=teamdata[0].Works%>" target="_blank" class="btn pic-btn btn-primary">
                    <%}%>
                       <i class="fa fa-file-text-o" aria-hidden="true"></i> チラシはこちら</a>
              </div>
                 <!-- <div class="ifrm-container"> -->
                   <!-- <iframe class="ifrm" scrolling="auto" src="../upfile/test.pdf#page=1&zoom=50"></iframe> -->
                  <!-- </div> -->
               </div>

            </div>
        </div>
      </div>

      <div class="footer-bihind">&nbsp;</div>
</section>
<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>


</body>
</html>
