<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>Votesetting - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Toggle -->
    <link href="../public/css/bootstrap-toggle.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/votesetting.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>

<!-- 確認画面 -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

                <div class="vote">

                    <div class="panel panel-list panel-primary">

                        <div class="panel-heading controls-title">部門設定</div>

                        <div class="panel-body">

                            <div class="top-margin">&nbsp;</div>
                            <div class="text-left">< 部門追加 ></div><br>

                            <form id="field" name="field" method="POST" action="/eventcontrol/votesetting/append">
                                <table id="field-tbl" class="table alt-table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">番号</th>
                                        <th class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">部門名</th>
                                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center" colspan="3">編集機能</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <th scope="row"><div class="text-center"><span class="fieldnumber">1</span></div></th>
                                        <td><input type="text" id="field1" name="votename" class="inputfield form-control" value="" readonly></td>
                                        <td><div class="text-center"><input class="btn btn-primary edit-btn" type="button" id="editbtn-1" value="編集" onclick="editRow(this)"></div></td>
                                        <td><div class="text-center"><input type="button" class="btn btn-success append-btn" value="追加" onclick="appendRow()"></div></td>
                                        <td><div class="text-center"><input class="btn btn-warning delete-btn" type="button" id="deletebtn-1" value="削除" onclick="deleteRow(this)"></div></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-right"><input class="btn btn-info submit-btn" type="submit" value="追　加"></div>
                            </form>

                            <hr class="hr-field">

                            <br><div class="text-left">< 部門変更 ></div><br>

                            <form method="POST" action="/eventcontrol/votesetting/change">
                                <table id="field-tbl" class="table alt-table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">番号</th>
                                        <th class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">部門名</th>
                                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center" colspan="3">編集機能</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%for(var i=0;i<vote.length;i++){%>
                                    <tr>
                                        <th scope="row"><div class="text-center"><span class="fieldnumber"><%=i+1%></span></div></th>
                                        <td><input type="text" id="change<%=i+1%>" name="fieldname" class="inputfield form-control" value="<%=vote[i].Votename%>" readonly></td>
                                        <input type="hidden" name="voteid" value="<%=vote[i].Voteid%>">
                                        <td><div class="text-center"><input class="btn btn-primary edit-btn" type="button" id="changebtn-<%=i+1%>" value="編集" onclick="changeRow(this)"></div></td>
                                    </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                                <div class="text-right"><input class="btn btn-success submit-btn" type="submit" value="変　更"></div>
                            </form>

                            <hr class="hr-field">

                            <br><div class="text-left">< 部門削除 ></div><br>

                            <form method="POST" action="/eventcontrol/votesetting/delete">
                                <table id="field-tbl" class="table alt-table-responsive table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">番号</th>
                                        <th class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-center">部門名</th>
                                        <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center" colspan="3">編集機能</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%for(var i=0;i<vote.length;i++){%>
                                    <tr>
                                        <th scope="row"><div class="text-center"><span class="fieldnumber"><%=i+1%></span></div></th>
                                        <td><%=vote[i].Votename%></td>
                                        <td><div class="text-center"><input data-toggle="toggle" name="voteid" value="<%=vote[i].Voteid%>" data-size="small" type="checkbox"></div></td>
                                    </tr>
                                    <%}%>
                                    </tbody>
                                </table>
                                <div class="text-right"><input class="btn btn-warning submit-btn" type="submit" value="削　除"></div>
                            </form>

                        </div>
                    </div><!-- panel -->

                </div><!-- vote -->

            </div><!-- col -->



        </div><!-- row -->
        <div class="footer-bihind"> </div>
    </div><!-- container -->
</section>

<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Toggle -->
<script src="../public/js/bootstrap-toggle.js"></script>

<!-- table control -->
<script src="../public/js/tablecontrol.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>

</body>
</html>
